<html>
  <head>
    <title>SmartSensing</title>
    <div style="position: absolute; top:400; left:500px; color:#000045"><font size="50"><h1>SmartSensing</h1></font></div>
  </head>
  <body bgcolor="#E6E6FA">
    {{{body}}}
  </body>
</html>
